.add-container {
    grid-row-end: auto;
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    bottom: 60px;
    left: 10px;
    z-index: 999;
}

@supports (height: 100dvh) {
    @media screen and (max-height: 500px) and (orientation: portrait) {
        .add-container {
            opacity: 0;
            visibility: hidden;
        }
    }
}

@media screen and (max-height: 450px) {
    .add-container {
        opacity: 0;
        visibility: hidden;
    }
}

@supports (padding-bottom: env(keyboard-inset-height)) {
    .add-container {
        bottom: calc(60px + env(keyboard-inset-height, 0px));
    }

    @media screen and (max-height: 500px) {
        .add-container {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.add-text {
    font-family: 'Montserrat';
    color: #F4F4F4;
    font-weight: 800;
    font-size: clamp(16px, 1.5vw, 24px);
}

.add-pointer {
    color: #575757;
    font-family: 'Montserrat';
    font-size: 0.85em;
    font-weight: 600;
    display: inline;
    margin-left: 4px;
}

.add-button {
    background-color: #C9C9C9;
    color: #343434;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    border-radius: 44px;
    font-size: clamp(12px, 1.5vw, 16px);
    width: 121px;
    height: 19px;
    min-width: max-content;
}