.add-challenge-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    max-height: calc(100vh - 140px);
    padding-bottom: 100px;
    box-sizing: border-box;
}

.add-challenge-form-title {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    color: #F4F4F4;
    text-align: center;
}

.add-challenge-form-input-container {
    display: flex;
    flex-direction: column;
    background-color: #C9C9C9;
    border-radius: 44px;
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px 10px;
    margin-top: 10px;
}

.add-challenge-form-input {
    background-color: #343434;
    color: #C9C9C9;
    border-radius: 44px;
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 15px 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    vertical-align: top;
    min-height: 60px;
    resize: none;
    align-self: center;
}

.add-challenge-form-input::placeholder {
    color: #C9C9C9;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
}

.link-ping-check {
    color: #343434;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.ping-check-button {
    background-color: #78AA28;
    color: #000000;
    border-radius: 44px;
    padding: 5px 20px;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 500;
    max-width: fit-content;
    margin-left: 10px;
}

.times-container-title {
    color: #343434;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.times-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.times-container-item {
    background-color: #343434;
    color: #C9C9C9;
    border-radius: 44px;
    padding: 10px 10px;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 500;
    min-width: 20px;
    text-align: center;
    cursor: pointer;
}

.times-container-item.active {
    background-color: #78AA28;
    color: #000000;
}

.total-price-container {
    display: flex;
    flex-direction: column;
    background-color: #C9C9C9;
    border-radius: 44px;
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px 10px;
    margin-top: 10px;
}

.total-price-container-title {
    color: #343434;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}

.total-price-container-price {
    color: #78AA28;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    margin-left: 20px;
}

.add-challenge-form-button {
    background-color: #78AA28;
    color: #000000;
    border-radius: 44px;
    padding: 10px 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}