.cash-out-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cash-out-form-title {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    color: #F4F4F4;
    text-align: center;
}

.cash-out-form-description {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    color: #F4F4F4;
    text-align: center;
    margin-top: 5px;
}

.cash-out-form-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C9C9C9;
    border-radius: 44px;
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px 10px;
    margin-top: 10px;
}

.cash-out-form-input {
    background-color: #343434;
    color: #C9C9C9;
    border-radius: 44px;
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 15px 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    vertical-align: top;
    min-height: 60px;
    resize: none;
}

.cash-out-form-textarea {
    background-color: #343434;
    color: #C9C9C9;
    border-radius: 44px;
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    min-height: 80px;
    resize: none;
    text-align: left;
    vertical-align: top;
}

.cash-out-form-input::placeholder,
.cash-out-form-textarea::placeholder {
    color: #C9C9C9;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
}

.min-amount {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    color: #78AA28;
    text-align: center;
}

.cash-out-form-button {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 800;
    color: #F4F4F4;
    text-align: center;
    background-color: #78AA28;
    border-radius: 44px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 70%;
    width: 100%;
    box-sizing: border-box;
    min-width: fit-content;
    margin-top: 5px;
}

.cash-out-form-all-button {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 800;
    color: #343434;
    text-align: center;
    background-color: #C9C9C9;
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 70%;
    width: 100%;
    box-sizing: border-box;
    min-width: fit-content;
    margin-top: 10px;
}

.alert-description {
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: 500;
    color: #F4F4F4;
    text-align: center;
    margin-top: 10px;
}