
.cash-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cash-in-form-title {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    color: #F4F4F4;
    text-align: center;
}

.cash-in-form-description {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #F4F4F4;
    text-align: center;
}

.qr-code-title {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    color: #78AA28;
    text-align: center;
}

.qr-code-image {
    scale: 0.8;
    text-align: center;
    margin-top: -20px;
    margin-bottom: -30px;
}

.address-title {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    color: #78AA28;
    text-align: center;
}

.address {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #F4F4F4;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    word-wrap: break-word;
    word-break: break-all;
    margin-top: -5px;
    margin-bottom: 5px;
}

.address-copy {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 800;
    color: #F4F4F4;
    text-align: center;
    background-color: #78AA28;
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 70%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px 20px;
    transition: transform 0.1s ease, background-color 0.1s ease;
    cursor: pointer;
    border: none;
}

.address-copy:active {
    transform: scale(0.95);
    background-color: #6a9624;
}

.address-pay {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 800;
    color: #343434;
    text-align: center;
    background-color: #C9C9C9;
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 70%;
    width: 100%;
    box-sizing: border-box;
    min-width: fit-content;
    padding: 10px 20px;
}