.friends-title {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    color: #F4F4F4;
    text-align: center;
}

.friends-description {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #F4F4F4;
    text-align: center;
    margin: 5px 30px;
}

.friends-button {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 800;
    color: #F4F4F4;
    text-align: center;
    background-color: #78AA28;
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 70%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 15px 20px;
}

.friends-button-copy {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 800;
    color: #343434;
    text-align: center;
    background-color: #C9C9C9;
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 70%;
    width: 100%;
    box-sizing: border-box;
    min-width: fit-content;
    padding: 15px 20px;
}

.friends-list-title {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    color: #78AA28;
    text-align: center;
    margin-top: 10px;
}

.friends-balance-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.friends-balance-title {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #F4F4F4;
    text-align: center;
}

.friends-balance-value {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #F4F4F4;
    line-height: 100%;
    text-align: center;
}

.friends-balance-icon {
    display: flex;
    align-items: center;
    transform: scale(0.6);
}

.friends-list {
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
    box-sizing: border-box;
    color: #F4F4F4;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 535px);
    margin-bottom: 10px;
}