.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 59px;
    margin-top: 41px;
    margin-left: 59px;
    margin-right: 59px;
    position: relative;
  }

.name {
  position: absolute;
  left: 0;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  color: #EAEAEA;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}