.rullet {
    background-color: #343434;
    grid-row: 1;
    border-radius: clamp(20px, 5vw, 44px);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(10px, auto);
    padding: clamp(15px, 3vw, 32px) clamp(10px, 2vw, 15px) clamp(10px, 1.5vw, 15px);
    margin: 0 auto;
    max-width: 90%;
    width: 100%;
    box-sizing: border-box;
    gap: clamp(0.5rem, 1vw, 1rem);
}

.rullet-title {
    grid-row: 1;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: clamp(16px, 4vw, 20px);
    line-height: 100%;
    color: #EAEAEA;
    justify-self: center;
}

.rullet-balance {
    grid-row: 2;
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.rullet-balance-value {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: clamp(32px, 5vw, 48px);
    line-height: 100%;
    color: #F2F2F2;
}

.rullet-balance-icon {
    align-self: end;
}

.rullet-subtitle {
    grid-row: 3;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: clamp(14px, 3vw, 16px);
    margin-bottom: 5px;
    line-height: 100%;
    color: #F2F2F2;
    justify-self: center;
}

.rullet-result-container {
    grid-row: 4;
    background-color: #575757;
    border-radius: clamp(20px, 5vw, 44px);
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: clamp(5px, 1vw, 10px);
    padding: clamp(15px, 3vw, 30px) clamp(10px, 2vw, 20px);
}

[class^="rullet-result-number-item"] {
    justify-self: center;
    background-color: #343434;
    border-radius: clamp(20px, 5vw, 44px);
    font-family: 'Montserrat';
    font-weight: 800;
    color: #78AA28;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: clamp(30px, 8vw, 40px);
    width: clamp(25px, 8vw, 35px);
    min-width: 25px;
}

@media (max-width: 320px) {
    .rullet-result-container {
        padding: 10px 5px;
        gap: 3px;
    }
    
    [class^="rullet-result-number-item"] {
        height: 25px;
        width: 25px;
        font-size: 12px;
    }
    
    .rullet-balance-value {
        font-size: 24px;
    }
}
