.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10px, auto);
  margin: 0 auto;
  width: 100%;
}

.last-transactions {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  color: #F4F4F4;
  justify-self: center;
  margin-top: 10px;
}

.transaction-column-names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 70%;
  width: 100%;
  box-sizing: border-box;
}

.transaction-column-name {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  color: #F4F4F4;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
